body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image: url("https://wallpapercave.com/wp/wp8839206.jpg");
background-size: cover; 
background-position: center;
}
img{
    margin: 10px 50px -100px;
}

 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-align: right;
    margin: 50px 0 0 350px;
}
ul a {
    color: snow;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid transparent;
    border-left: 10px;
    border-right: 10px;
}
ul a:hover{
    background-color: white;
    color: blue;
}

.kell{
    color:cyan;
    text-align: center;
    margin: 90px 0;
}
.kell h1{
    font-size: 50px;
    margin: -15px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kell p {
    font-size: 1.5rem;
    padding: 20px;
    line-height: -6px;
    margin: 0 100px 0 100px;
color: snow;
}
.kell strong{
    color: red;
font-size: 22px;
}
.kell .btm{
    font-size: 25px;
    color: cyan;
}
.kell h2{
    color: snow;
    margin: 3px 15px 0 15px;
}
.kell button{
    border: 2px solid #fff;
    background-color: transparent;
    margin-top: 45px;
    color: cyan;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 15px;
text-align: center;
}
.kell button:hover{
    background-color: #fff;
    color: red;
}
.hamburger{
    display: none;
    cursor: pointer;
    margin-left: 390px;
    margin-top: 50px;
}
.bar{
    display: block;
    width: 30px;
    margin: -90px 0 0 50px;
    padding-left: 4px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media screen and (min-width:425px) and (max-width:768px) {
    body {
        margin: 0;
        border: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp8839206.jpg");
    background-size: cover; 
    background-position: center;
    }
    .hamburger{
        display: block;
    }
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(2){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
ul{
    position: fixed;
    left: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: yellow;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.nav ul{
    margin: 16px 0 ;
    left: 0;
}
   
.kell h1{
    font-size: 40px;
    margin: 5px 0;
}
}
